<nav id="nav"></nav>
<div id='main'>
  <div id='title-bar'></div>
  <div id="content"></div>
</div>
<div id="page-controls">
  <div id='scroll-to-top'>
    <a href="#top">
      <i class="icon-general-enclosed-up-arrow"></i>
    </a>
  </div>
</div>
