@import "common";
@import "libs/select2";
@import "libs/toggle-switch";
@import "foundation-fonts/foundation_icons_general/general_foundicons";
@import "foundation-fonts/foundation_icons_general_enclosed/general_enclosed_foundicons";
@import "foundation-fonts/foundation_icons_accessibility/accessibility_foundicons";
@import "foundation-fonts/foundation_icons_social/social_foundicons";

$webicons-url: "../images/webicons/";
@import "webicons";

// All properties are ordered:
//  z-index, position (top,left,right), paddings/margins dimensions, visual, container related(e.g. color)

@import "nav";
@import "titlebar";
@import "main_layout";
@import "not_found";
@import "login";

.no-padding {
  padding: 0;
}

body {
  font-size: 14px;
  overflow: scroll;
  color: $dark-base-color;
}

a, a:link, a:visited {
  color: $link-color;
  &.button {
    color: #fefefe;
    &.active {
      background-color: #2284a1;
    }
  }
}

a:hover {
  color: lighten($link-color, 5%);
}

body, #container, html {
  font-family: 'PT Sans', sans-serif;
  min-height: 100%;
  height: 100%;
  background-color: $light-base-color;
  background-image: url("../images/pw_maze_white.png");
  > #layout {
    max-width: inherit;
    margin-left: 0;
    height: auto !important;
    min-height: 100%;
    height: 100%;
  }
  .row.top-bar {
    background: transparent;
    min-height: inherit;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    h1, a {
      margin: 0;
      padding: 0;
      line-height: 58px;
      height: 58px;
      font-size: 18px;
    }
  }
}

span.bread-crumbs {
  margin: 8px;
}

$selected-color: $body-font-color;

.reveal-modal.open {
  padding: 10px 15px !important;
}

.content-quick-view {
  font-size: 14px;
  > div {
    width: 100%;
    max-width: inherit;
    margin: 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .image {
    > div {
      min-height: 400px;
      height: auto;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 5px;
    }
  }
  .info {
    padding: 10px;
    button {
      margin-top: 10px;
      height: inherit;
      width: 100%;
    }
  }
}

/* PAGE CONTENT CREATE */

.content-preview, .product-preview {
  .content, .product {
    float: left;
    height: 480px;
  }
  .content-info, .product-info {
    position: relative;
    left: 20px;
    label {
      font-weight: bold;
      font-size: 16px;
      margin: 0;
    }
    i {
      font-size: 24px;
      text-shadow: none;
    }
  }
  .content-image, .product-image {
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
  }
  .close-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    margin-right: 12px;
  }

}

.content-list-region, .product-list-region {
  @include grid-row();
  margin: 0 auto;
}

.content-item.grid-view, .product-item.grid-view {
  &.selected {
    background-color: transparentize($action-color, 0.4)
  }
  @include grid-column($columns: 2);
  list-style-type: none;
  background-color: #f0f0f0;
  box-shadow: inset 0px 2px 5px #D0D0D0;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  height: 180px;
  overflow: hidden;
  margin: 1.666%;
  .content-type {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
  }
  .content-image, .product-image {
    width: 100%;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .content-state, .product-state {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    font-size: 14px;
    text-align: center;

    background-color: rgba(0,0,0,0.2);
    &.content-state-rejected {
      background-color: transparentize($rejected-color, 0.6);
    }
    &.content-state-approved {
      background-color: transparentize($approved-color, 0.6);
    }
    &.content-state-needs-review {
    }
    &.content-state-prioritized, &.product-state-prioritized {
      background-color: transparentize($rejected-color, 0.6);
    }
    &.content-state-added, &.product-state-added {
      background-color: transparentize($approved-color, 0.6);
    }
  }
  .content-actions, .product-actions {
    display: none;
  }
  &:hover {
    .content-actions, .product-actions {
      display: block;
      vertical-align: middle;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      > button {
        background-color: #444;
        border: 0;
        margin: 0;
        font-size: 12px;
        width: 100%;
        clear: both;
        &:hover {
          color: $action-color;
        }
      }
    }
  }
}

.content-item.list-view, .product-item.list-view {
  @include grid-column($columns: 12);
  list-style-type: none;
  background-color: #f0f0f0;
  padding-left: 0em;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  margin: 1.666%;
  margin-left: 0;
  min-height: 240px;
  .content-type {
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 5px;
  }
  .content-image, .product-image {
    @include grid-column($columns: 3);
    float: none;
    display: inline-block;
    padding: 0;
    float: left;
    > img {
      width: 100%;
    }
  }
  .content-info, .product-info {
    @include grid-column($columns: 9);
    float: none;
    display: inline-block;
    padding: 0;
    margin-left: 0.3375em;
    margin-right: -0.9375em;
  }
  .content-actions, .product-actions {
    > button {
      @include grid-column($columns: 2);
      background-color: #444;
      border: 0;
      margin: 3px;
      font-size: 12px;
      &:hover {
        color: $action-color;
      }
    }
  }
  .content-state, .product-state {
    position: absolute;
    right: 10px;
    top: 0;
  }
  .content-label, .product-label {
    font-size: 1.1em;
    font-weight: 500;
    display: block;
  }
  .content-label-text, .product-label-text {
    display: block;
    margin-bottom: 8px;
  }
}

.content-item.list-view {
  textarea.content-caption {
    display: block;
    resize: none;
    height: 50px;
    width: 100%;
  }
  .content-tag-buttons {
    margin-bottom: 3px;
    float: right;
    > button {
      background-color: #444;
      height: 35px;
      border: 0;
      margin: 0;
      font-size: 12px;
      margin-right: 5px;
      &:hover {
        color: $action-color;
      }
    }
  }
  .content-source, .content-type-info {
    display: inline-block;
    margin-right: 15px;
    .content-label {
      display: inline-block;
    }
  }
  .tag-content,.select2-drop{
    width: 100%;
    margin-bottom: 5px;
  }
}

.product-item.list-view {
  height: auto;
  .product-wrapper {
     @include grid-column($columns: 9);
   }
  .product-image {
    @include grid-column($columns: 3);
    padding: 0;
  }
  .inline {
    margin-bottom: 1px;
    cursor: default;
  }
}

.page-step-actions {
  @include clearfix();
  float: right;
}

.page-loading-indicator, .content-loading-indicator {
  @include grid-column($columns: 2);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  border: 1px #fff;
  color: white;
  background-color: #464646;
  float: none !important;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: block;
  .page-loading-indicator-text, .content-loading-indicator-text {
    padding: 8px;
    > div {
      .ellipsis {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -o-animation: ellipsis 1s infinite;
        -moz-animation: ellipsis 1s infinite;
        -webkit-animation: ellipsis 1s infinite;
        animation: ellipsis 1s infinite;
      }
    }
  }
}

@keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}

@-o-keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}

@-webkit-keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}

@-moz-keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}

.add-content {
  @include grid-row();
  .add-by-url {
    @include grid-column($columns: 12);
    > label {
      line-height: 22px;
      @include grid-column($columns: 2);
    }
    > input {
      @include grid-column($columns: 8);
    }
    > button {
      @include grid-column($columns: 2);
    }
  }
}

.content-options, .product-options {
  @include grid-row();
  label {
    line-height: 22px;
  }
  .filter-sort-order {
    @include grid-column($columns: 12);
    > label {
      @include grid-column($columns: 2);
    }
    > select {
      @include grid-column($columns: 10);
    }
  }
  .filter-product-category {
    @include grid-column($columns: 12);
    > label {
      @include grid-column($columns: 2);
    }
    > select {
      @include grid-column($columns: 10);
    }
  }
  .filter-content-type {
    @include grid-column($columns: 6);
    > label {
      @include grid-column($columns: 4);
    }
    > select {
      @include grid-column($columns: 8);
    }
  }
  .filter-content-source {
    @include grid-column($columns: 6);
    > label {
      @include grid-column($columns: 4);
    }
    > select {
      @include grid-column($columns: 8);
    }
  }
  .filter-content-tags {
    @include grid-column($columns: 12);
    > label {
      @include grid-column($columns: 2);
    }
    > input {
      @include grid-column($columns: 10);
    }
  }
  .filter-product-tags {
    @include grid-column($columns: 12);
    > label {
      @include grid-column($columns: 2);
    }
    > input {
      @include grid-column($columns: 10);
    }
  }
}
.content-item-actions, .product-item-actions {
  @include grid-row();
  text-align: right;
  button {
    @include button-size($padding: $button-sml);
    width: 20%;
  }
}

/* END PAGE CONTENT CREATE */

body {
  [class*="icon-"] {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.2), 1px 0 0 rgba(0, 0, 0, 0.2), -1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(0, 0, 0, 0.2);
  }
  .edit-area {
    .actions {
      > button {
        background-color: #eeeeee;
        color: #111111;
        border-color: darken(#eeeeee, 0.3);
      }
    }
  }
  .edit-area.multiEdit {
    position: fixed;
    width: 25%;
    left: 70%;
  }
  .item {
    box-shadow: 0 1px 2px $dark-base-color;
    background-color: $light-base-color;
  }
  #list {
    font-size: 14px;
    padding: 0 0 !important;
    margin-bottom: 2em;
  }
  #list.list-view {
    @include grid-column($columns: 12);
    .overlay {
      display: none;
    }
    .item {
      overflow: auto;
      min-height: 200px;
      margin: 10px 0px;
      font-size: 14px;
      .image-container {
        @include grid-column($columns: 4);
        background-color: #f0f0f0;
        border-right: 1px solid #999999;
        position: relative;
        height: 200px;
        min-height: 100%;
      }
      .edit-area {
        @include grid-column($columns: 8);
        label, ul {
          margin: 0;
        }
        .caption {
          min-height: 75px;
        }
      }
      .image {
        float: left;
        background-size: contain;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .image.video:before {
        background-image: url('https://s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Video-playbutton.png');
        content: "";
        width: 100%;
        height: 66px;
        position: absolute;
        background-repeat: no-repeat;
        left: calc(50% - 33px);
        top: calc(50% - 33px);
      }
    }
  }
  .edit-area {
    .actions {
      @include button-group-container;
      margin: 10px 0 !important;
      text-align: center;
      a {
        @include button;
        margin-bottom: 0;
        background-color: #e9e9e9;
        border-color: #d0d0d0;
        color: #333333;
        &.reject {
          &:hover, &.active {
            background-color: $rejected-color;
            border-color: darken($rejected-color, 0.7);
          }
        }
        &.approve {
          &:hover, &.active {
            background-color: $approved-color;
            border-color: darken($approved-color, 0.7);
          }
        }
        &.undecided {
          &:hover, &.active {
            background-color: $undecided-color;
            border-color: darken($undecided-color, 0.7);
          }
        }
      }
    }
  }
  &.grid-view .edit-area {
    position: fixed;
    width: 28%;
    right: 1px;
    border-radius: 8px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
  }
  #list.grid-view {
    @include grid-column($columns: 8);
    .item {
      @include grid-column($columns: 3);
      box-shadow: inset 1px 1px #aaaaaa;
      border-right: 1px solid #aaaaaa;
      height: 160px;
      .edit-area {
        /* edit-area is centralized */
        display: none;
      }
      .image-container {
        height: 100%;
        position: relative;
        .image {
          background-size: contain;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
        }
        .image.video:before {
          background-image: url('https://s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Video-playbutton.png');
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background-repeat: no-repeat;
          left: calc(50% - 33px);
          top: calc(50% - 33px);
        }
      }
      &.selected {
        .overlay {
          background-color: transparentize($selected-color, 0.8);
        }
      }
    }
  }
  #list.grid-view .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    .color {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover {
      .actions {
        display: block;
      }
    }
    > span {
      margin: 5px;
    }
    .actions {
      z-index: 20;
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      input[type="file"], input[type="checkbox"], input[type="radio"], select {
        margin: 0;
      }
      a {
        @include button;
        font-weight: normal;
        text-rendering: optimizeLegibility;
        font-size: 12px;
        border-radius: 5px;
        margin: 0 0 0.75em;
        padding: 0.5em;
        background-color: #eeeeee;
        color: $dark-base-color;
        border-color: darken($dark-base-color, 0.3);
        &:hover {
          background-color: #e9e9e9;
          border-color: #d0d0d0;
          color: #333333;
          background-color: darken($light-base-color, 0.3);
        }
      }
      button, a, input, label {
        pointer-events: auto;
      }
      a.selected {
        label {
          font-weight: bold;
        }
        input, form {
          margin: 0;
          padding: 0;
        }
      }
      button {
        border-radius: 5px;
        font-weight: bolder;
        color: $dark-base-color;
        margin: 5px;
        font-size: 12px;
        border: 0;
        background-color: $action-color;
      }
    }
    .status {
      @include vendor-prefix(transition, background-color 0.4s ease-in-out);
      margin: 0;
      padding-right: 10px;
      text-align: center;
      &, i {
        color: #f0f0f0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
      > span {
        display: none;
      }
      &.approved {
        background-color: transparentize($approved-color, 0.5);
        > .approved {
          display: block;
        }
      }
      &.rejected {
        background-color: transparentize($rejected-color, 0.5);
        > .rejected {
          display: block;
        }
      }
      &.undecided {
        background-color: transparentize($undecided-color, 0.5);
        > .undecided {
          display: block;
        }
      }
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      line-height: 24px;
    }
  }
}

#info-bar {
  z-index: 8;
  position: fixed;
  display: block;
  top: 0;
  left: 16.66%;
  padding: 0;
  margin: 0;
  height: 65px;
  padding-left: 30px;
  width: 83.44%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: lighten($dark-base-color, 20%);
  color: $light-base-color;
  @include single-transition(all, 0.5s, ease-in);
  &.hide {
    top: -100px;
    opacity: 0;
  }
  > div {
    font-size: 16px;
    .columns {
      padding-top: 24px;
      &.actions {
        padding-top: 16px;
        padding-right: 24px;
        text-align: right;
        float: right;
        div, button {
          display: inline-block;
        }
      }
    }
  }
}

.related-products {
  .columns {
    padding: 10px;
  }
}

/* Tabing between a set of options */
.tabs.pill {
  dd {
    float: left;
    margin: 0 3px;
    a {
      border-radius: 8px;
      padding: 0 8px;
      font-size: 12px;
      line-height: 24px;
      height: 24px;
      background-color: $dark-base-color;
      color: white;
    }
    &.active {
      a {
        background-color: $action-color;
      }
    }
  }
}

.page-edit {
  text-align: center;
  > .container, > .actions {
    #layout-options {
      img {
        max-height: 100%;
      }
      label {
        text-align: right;
      }
    }
    #layout-types {
      height: 150px;
      .layout-type {
        @include grid-column($columns: 12);
        @media #{$small} {
          @include grid-column($columns: 4);
        }
        padding: 20px 0;
        border: 1px solid #eeeeee;
        text-align: center;
        &.disabled {
          opacity: 0.3;
        }
        &.selected {
          border: 1px solid $action-color;
          background-color: lighten($action-color, 45%);
        }
        &.selected label {
          font-weight: bold;
        }
        .icon {
          img {
            max-width: 165px;
          }
        }
      }
    }
  }
  &.content {
    .filter-actions {
      .button-group {
        margin: 0 auto;
        width: 33%;
      }
    }
  }
  &.products {
    border-radius: 5px;
    margin: auto;
    padding: 8px;
    .actions {
      margin: 10px 0;
    }
    #scrape-list {
      background: $light-base-color;
      border: 1px solid #888888;
      padding: 5px;
      border-radius: 3px;
      overflow-y: scroll;
      overflow-x: hidden;
      min-height: 200px;
      height: 200px;
      font-size: 14px;
      font-weight: 500;
      color: #4f4f4f;
      font-size: 12px;
      .item {
        padding: 7px;
        border-bottom: 1px dotted #333333;
        box-shadow: none;
      }
      .link {
        overflow-x: hidden;
        white-space: nowrap;
        word-break: break-all;
      }
      .action {
        font-weight: bold;
      }
    }
    #product-list {
      width: 100%;
      .image {
        width: 180px;
        height: 180px;
        background-position: middle center;
      }
      [class*="icon-"] {
        margin-left: 3px;
      }
      .row {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .products {
      font-size: 14px;
      border-radius: 3px;
      background: #eeeeee;
      border: 1px solid #aaaaaa;
      min-height: 280px;
      padding: 10px;
      margin: 10px 0;
    }
  }
}

#page-wizard-header {
  background: #eeeeee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  h1 {
    font-size: 16px;
  }
  .row {
    > h1, > a {
      line-height: 34px;
    }
  }
  .steps {
    width: 100%;
    /* 4.5% * 4 = 18% + 16.4% * 5 = 100% */
    li {
      margin-left: 4.5%;
      &:first-child {
        margin-left: 0;
      }
      width: 16.4%;

      $disabled-color: transparentize($action-color, 0.7);
      &.disabled {
        span {
          background-color: $disabled-color;
          &:after {
            border-color: $disabled-color;
            border-left-color: transparent;
          }
        }
        &:after {
          border-left-color: $disabled-color;
        }
      }
    }
  }
}

#page-preview {
  min-height: 100%;
}

.next-page {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 26%;
  height: 22px;
  text-align: center;
}

#page-controls {
  z-index: 20;
  position: fixed;
  bottom: 5px;
  right: 8px;

  #scroll-to-top {
    margin: 0 auto;
    a {
      &:hover {
        text-shadow: 0 0 20px black;
      }
      color: #b0bbbb;
      font-size: 32px;
    }
  }
}

@import "spinner";

.content-region > div > .content {
  padding: 30px;
}
#content > div > .content {
  padding: 30px;
}

#product-list {
  .item {
    &.list {
      height: 114px;
      margin: 5px 0;
      overflow: hidden;
      .image-container {
        text-align: center;
        background-color: #f4f4f4;
        border-right: 1px solid $dark-base-color;
      }
      .title {
        font-weight: bold;
      }
      .actions-container {
        margin-top: 50px; /* really wish this could have been floated down */
        .actions {
          @include button-group-container;
          text-align: center;
          a {
            @include button;
            margin-bottom: 0;
            background-color: #e9e9e9;
            border-color: #d0d0d0;
            color: #333333;
          }
        }
      }
    }
  }

}


.content-preview {
  textarea {
    resize: none;
    font-size: 14px;
    color: #464646;
    width: 500px;
  }
  .tag-label {
    display: block;
    font-weight: 500;
    font-size: 1.2em;
  }
  .tag-content,.select2-drop{
    min-width: 500px;
    max-width: 100%;
    top: 1em;
    right: 1em;
    position: inherit;
  }
  .tag-content-caption {
    min-width: 500px;
    max-width: 100%;
  }
  > img {
    float: left;
  }
  .tag-content-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    > button {
      width: 120px;
      margin-right: 12px;
    }
  }
}
