$base-color: #a1a194;
$light-base-color: #fffffa;
$dark-base-color: #464646;
$body-font-color: #ff6600;
$link-color: lighten(#087891, 17%);

$approved-color: #00d178;
$rejected-color: #ff7030;
$undecided-color: #ffbe41;
$action-color: #08bbcc;
