#layout .container {
  margin: 40px auto;
}
.container {
  min-width: 400px;
  width: 350px;
  height: 500px;
}

#login {
  background: #f0f0f2;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.30);
}
#login .header {
  text-align: center;
  padding-bottom: 24px;
}
#login .title {
  font-weight: 400;
  font-size: 18px;
}
#login form {
  padding: 10px 5px;
}
