aws_credential_file
*.idea
*.log
*.pid
*.pyc
*.db
*.sqlite
.elasticbeanstalk/
.directory

bin/*
/static
include/
deposit/
doc/
cache/
lib/
log/
runserver

applications/*/errors/*
applications/*/sessions/*
applications/*/databases/*