<!-- TODO: this should be cleaned up -->
<div class="large-6 columns">
  <span class="link">
    <b>URL:</b>
    <a href="{{url}}" target="_blank">{{url}}</a>
  </span>
</div>
<div class="large-3 columns text-right status-{{status}}">
  Finished
</div>
<div class="large-3 text-right columns action">
  <button href="#" class="small refresh">Refresh</button>
  <button href="#" class="small remove">Remove</button>
</div>
