<div class="product-image" style="background-image: url('{{default-image.images.medium.url}}');">
</div>
<div class="product-actions">
  {{#is page-status 'added'}}
    <button class="remove-product-button js-product-remove">
      Remove <i class="icon-general-error"></i>
    </button>
  {{else}}
    <button class="add-product-button js-product-add">
      Add <i class="icon-general-checkmark"></i>
    </button>
  {{/is}}
  <button class="prioritize-product-button js-product-prioritize">
    Prioritize <i class="icon-general-up-arrow"></i>
  </button>
  <button class="preview-product-button js-product-preview">
    Preview <i class="icon-accessibility-eyeball"></i>
  </button>
</div>