<div class="content">
  <h4>Products</h4>

  <div class="filter-actions row">
    <form class="switch-toggle switch-3 panel">
      <input id="filter-import-product" name="filter" type="radio" checked>
      <label for="filter-import-product"
             title="Show tools for importing products that are not in the database yet.">
          Import
      </label>

      <input id="filter-all-product" name="filter" type="radio">
      <label for="filter-all-product"
             title="Show products in the database.">
          All
      </label>

      <input id="filter-added-product" name="filter" type="radio">
      <label for="filter-added-product"
             title="Show products on this page.">
          Added
      </label>

      <a class="button"></a>
    </form>
  </div>

  <div class="import-product-region">
  </div>

  <form class="product-options">
    <fieldset class="product-filter-actions">
      <legend>Filters</legend>
      <div class="filter-product-tags">
        <label>Tags</label>
        <input id="js-filter-product-tags" type="text" />
      </div>
      <div class="filter-product-category">
        <label>Category</label>
        <select id="js-filter-category">
          <option value="">All Categories</option>
          {{#each categories}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </fieldset>
    <fieldset class="filter-sort-actions">
      <legend>Sort</legend>
      <label>Sort</label>
      <select id="js-filter-sort-order">
        <option value="ascending">Most Recent First</option>
        <option value="descending">Least Recent First</option>
      </select>
    </fieldset>
  </form>

  <div class="container row" style="line-height: 22px;">
    <div class="content-view-actions" style="float:left;">
      <a class="js-grid-view">Grid</a> | <a class="js-list-view">List</a>
    </div>
    <div class="product-item-actions">
      <button class="js-select-all">Select All</button>
      <button class="js-add-selected">Add Selected</button>
    </div>
  </div>

  <div class="product-list-region">
    <!-- product list injected here -->
  </div>

  <div class="page-step-actions">
    <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/publish">Save &amp; Continue</a>
  </div>
</div>
