<div class="row item">
  <div class="large-6 columns details">
    <span class="link">
      <b>URL:</b>
      <a href="{{url}}" target="_blank">{{url}}</a>
    </span>
  </div>
  <!--
  <div class="large-2 columns text-center status-{{status}}">
    {{status}}
  </div>
  <div class="large-2 columns text-right action">
    <a href="#" class="refresh">Refresh</a>
  </div>
  -->
  <div class="large-2 columns text-left action">
    <a href="#" class="remove">Remove</a>
  </div>
</div>