<div class='columns small-8 large-10'>
    {{#if title}}
        <h2>{{title}}</h2>
    {{else}}
        <h2>Campaign Manager</h2>
    {{/if}}
</div>

<div class='columns small-4 large-2 text-right'>
    <a id='logout' href='/logout'>
        Logout
    </a>
</div>
