<div class="content-preview table">
  <div class="tag-content-buttons">
    <button class="reveal-close medium">Close</button>
  </div>
  <div class="cell">
    {{#is type 'video'}}
      <iframe width="640" height="480" src="{{video-embed-url}}" frameborder="0" allowfullscreen></iframe>
    {{else}}
      <img src="{{images.large.url}}"/>
    {{/is}}
  </div>
  <div class="cell">
    <div class="tag-label">Caption</div>
    <textarea  type="text" class="tag-content-caption">
      {{default caption "No caption."}}
    </textarea>
    <div class="tag-label">Tagged Products</div>
    <div class="tag-content"></div>
  </div>
</div>
