@import "foundation"
@import "lib/jquery.taghandler"
@import "foundation-fonts/foundation_icons_general/general_foundicons"
@import "foundation-fonts/foundation_icons_accessibility/accessibility_foundicons"
$webicons-url: "../images/webicons/"
@import "webicons"

// All properties are ordered:
//  z-index, position (top,left,right), paddings/margins dimensions, visual, container related(e.g. color)

$base-color: #A1A194
$light-base-color: #FFFFFA
$dark-base-color: #464646
$body-font-color: #FF6600
$link-color: lighten(#087891,17%)

$approved-color: #00D178
$rejected-color: #FF7030
$undecided-color: #FFBE41
$action-color: #08BBCC

a, a:link, a:visited
  color: $link-color

a:hover
  color: lighten($link-color, 5%)

body, #container, html
  min-height: 100%
  height: 100%
  background-color: $light-base-color
  > .row
    max-width: inherit
    margin-left: 0
    height: auto !important
    min-height: 100%
    height: 100%
  .row.top-bar
    padding: 20px
    background: lighten($base-color, 35%)
    height: 65px
    box-shadow: 0 1px 2px rgba(0,0,0,0.3)

header.columns
  z-index: 10
  top: 0
  left: 0
  background: lighten($dark-base-color, 5%)
  @media #{$small}
    position: fixed !important
    min-height: 100%
    height: auto !important
    height: 100%
  position: relative
  height: inherit
  min-height: inherit
  padding: 0 0
#main
  // make space for fixed nav bar + potentially infobar
  position: relative
  left: 0
  top: 0
  @include single-transition(all, .5s, ease-in)
  &.info-bar
    top: 65px
  @media #{$small}
    left: 16.65%
nav
  > .logo
    position: relative
    .wrapper
      text-align: center
      left: 7px
      position: relative
      width: 100%
      background-color: $light-base-color
      margin-top: 5px
      padding: 1px
      z-index: 200
      box-shadow: 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2)
      .logo
        margin-top: 5px
        margin-left: 25px
        background: url(../images/logo.png) top center no-repeat $light-base-color
        width: 128px
        height: 48px
    .arrow
      position: absolute
      left: 100%
      border-top: 7px solid $dark-base-color
      border-right: 7px solid transparent
      background-clip: padding-box
      z-index: 9999
      width: 0px
      height: 0px
      top: 100%
      right: 100%
  .side-nav
    ul
      width: 100%
      li
        margin: 0
        &.active
          border-right: 4px solid lighten($body-font-color, 5%)
        font-size: 21px
        position: relative
        width: 100%
        left: 1px
        padding-right: 15px
        margin-top: 8px

        text-align: right

        z-index: 200

        //background-color: $light-base-color
        background-color: lighten($dark-base-color, 10%)
        //box-shadow: 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2)
        &.divider
          padding: 0
          margin: 0
          height: 0
          border-top-color: $dark-base-color
          border-top: 1px solid $dark-base-color
          border-bottom: 1px solid $dark-base-color
        a, a:visited, a:link, a:hover
          text-shadow: 0 1px 3px rgba(0, 0, 0, .4)
          font-weight: 100
          font-size: 16px
          letter-spacing: 1px
          color: $light-base-color
          i
            font-weight: 0
          //color: $link-color

span.bread-crumbs
  margin: 8px

#container
  padding: 2em

$selected-color: $body-font-color

.content-quick-view
  > div
    width: 100%
    max-width: inherit
    margin: 10px 0
    box-shadow: 0 1px 2px rgba(0,0,0,0.3)
  .image
    > div
      min-height: 400px
      height: auto
      background-repeat: no-repeat
      background-position: center center
      padding: 5px
  .info
    height: 70px
    padding: 10px
    button
      margin-top: 10px
      height: inherit
      width: 100%

#content-index
  position: relative
  #list
    > div
      &.grid-view
        @include grid-column($columns: 8)
    > div
      &.list-view
  .list-view
    .item
      height: 350px
  .gride-view
    .item
      height: 160px
  .list
    .row > .edit-area
      width: 28%
      top: 225px
      right: 10px
      border-radius: 8px
      background-color: #eee
      position: fixed
      button
        @include grid-column($columns: 12)
    .item
      > div
        height: auto
      .edit-area
        button
          @include grid-column($columns: 6)
      .image-container
        height: 100%
      .image
        background-size: contain
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-position: center center
      &.list
        box-shadow: 0 1px 2px rgba(0,0,0,0.30)
        margin: 10px 0px
        .image
          height: 100%
      &.grid
        position: relative
        height: 160px
        box-shadow: 0 1px 2px $dark-base-color
        &.selected
          .overlay .color
            background-color: transparentize($selected-color, 0.8)
        > .row
          margin: 10px 0px
          height: 100%
          .image
            background-size: contain
            width: 100%
            height: 100%
            background-repeat: no-repeat
            background-position: center center
        .overlay
          .color
            pointer-events: none
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          text-align: left
          &:hover
            > .actions
              display: block
          > span
            margin: 5px
          .actions
            z-index: 20
            display: none
            position: absolute
            bottom: 0
            left: 0
            width: 65%
            button, a, input, label
              pointer-events: auto
            a.selected
              label
                font-weight: bold
              input, form
                margin: 0
                padding: 0
            button
              border-radius: 5px
              font-weight: bolder
              color: $dark-base-color
              width: 100%
              margin: 5px
              font-size: 12px
              border: 0
              background-color: $action-color
          > .bottom-right
            padding-right: 10px
            text-align: right
            // TODO: color
            &.approved
              color: $approved-color
            &.rejected
              color: $rejected-color
            &.undecided
              color: $undecided-color
            position: absolute
            bottom: 0
            right: 0
            width: 100%
            line-height: 24px

#info-bar
  z-index: 8
  position: fixed
  display: block
  top: 0
  left: 16.66%
  padding: 0
  margin: 0
  height: 65px
  padding-left: 30px
  width: 83.44%
  box-shadow: 0 1px 2px rgba(0,0,0,0.5)
  background-color: lighten($dark-base-color, 20%)
  color: $light-base-color
  @include single-transition(all, .5s, ease-in)
  &.hide
    top: -100px
    opacity: 0
  > div
    font-size: 16px

    .columns
      padding-top: 24px
      &.actions
        padding-top: 16px
        padding-right: 24px
        text-align: right
        float: right
        div, button
          display: inline-block

.related-products
  .columns
    padding: 10px

// Tabing between a set of options
.tabs.pill
  dd
    float: right
    margin: 0 3px
    a
      border-radius: 8px
      padding: 0 8px
      font-size: 12px
      line-height: 24px
      height: 24px
      background-color: $dark-base-color
      color: #fff
    &.active
      a
        background-color: $action-color
