<div class="content">
  <h4>Select Content</h4>

  <div class="page-edit content">

    <div class="filter-actions row">
      <div class="switch-toggle panel radius">
      <form>
        <input id="all-content" name="filter2" type="radio" checked>
        <label for="all-content" class="js-all-content">All Content</label>

        <input id="added-to-page" name="filter2" type="radio">
        <label for="added-to-page" class="js-added-to-page">Added to Page</label>

        <a class="button"></a>
      </form>
      </div>
    </div>

    <div class="content">
      <div class="list columns large-12">
        <!-- content list injected here -->
      </div>
    </div>

    <div class="actions row">
      <a class="js-next button small" href="/{{store-id}}/pages">Save Page</a>
    </div>
  </div>
</div>
