<div class="content">
  <h4>Select Content</h4>

  <div class="page-edit content">

    <div class="filter-actions row">
      <div class="switch-toggle panel radius">
      <form>
        <input id="needs-review" name="filter2" type="radio" checked>
        <label for="needs-review" onclick="" class="js-needs-review">Needs Review</label>

        <input id="added-to-page" name="filter2" type="radio">
        <label for="added-to-page" onclick="" class="js-needs-review">Added to Page</label>

        <a class="button"></a>
      </form>
      </div>
    </div>

    <div class="content">
      <div class="list columns large-12">
        <!-- content list injected here -->
      </div>
    </div>

    <div class="actions row">
      <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/generate">Save &amp; Continue</a>
    </div>
  </div>
</div>
