<div class="content">
    <h4>Generate Page</h4>
    <div class="page-edit">
        <p>
            The page will be live immediately:
            <a href="http://{{store.public-base-url}}{{page.url}}/">
                {{store.public-base-url}}{{page.url}}
            </a>
        </p>
        <p>
            <span class="label">Note</span> It will overwrite the existing page.
        </p>
        <div class="actions row">
            <a class="generate js-next button small" href="">Generate Page</a>
        </div>
    </div>
</div>