<div class="content">
    <h4>Generate Page</h4>
    <div class="page-edit">
        <!-- TODO: Add something more substantial to this page -->
        <div class="actions row">
            <a class="js-next button small" href="">Generate Page</a>
        </div>
    </div>
</div>