<div class="content">
  <h4>Name</h4>
  <div class="page-edit">
    <div class="container row">
      <div class="row">
        <label class="large-2 columns inline">Page Name</label>
        <span class="large-10 columns no-padding">
          <input type="text" for="name" placeholder="(Untitled)" />
        </span>
      </div>
      <div class="row">
        <label class="large-2 columns inline">Page URL</label>
        <span class="large-3 columns no-padding">
          <span class="prefix">{{store.public-base-url}}</span>
        </span>
        <span class="large-7 columns no-padding">
          <input type="text" for="url" />
        </span>
      </div>
    </div>
    <div class="actions row">
      <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/layout">Save &amp; Continue</a>
      <a class="generate button small" href="">Generate Page</a>
    </div>
  </div>
</div>
