<div class="content">
  <h4>Add Products</h4>
  <div class="page-edit products">
    <div class="container row">
      <div class="add-products">
        <div class="row">
          <label class="large-2 columns inline">Add by URL</label>
          <span class="large-8 columns">
            <input id="url" type="text" placeholder="http://..." />
          </span>
          <span class="large-2 columns text-left">
            <a href="#" id="add-url" class="small button">Add</a>
          </span>
        </div>
        <div class="row">
          <label class="large-2 columns inline">Add by Search</label>
          <span class="large-8 columns">
            <input id="search-product" style="width:100%;" type="text" placeholder="Search for product" />
          </span>
          <span class="large-2 columns text-left">
            <a href="#" id="add-product" class="small button">Add</a>
          </span>
        </div>
        <div class="row">
          <span class="large-12 columns text-left">
            <h5>Added URLS</h5>
            <div id="scrape-list">
              <!-- Injection Point -->
            </div>
          </span>
        </div>
      </div>
      <h4 class="text-left">Add or Remove Products</h4>
      <p class="text-left">Review products that have been added to the page <!-- /or prioritize products to appear at the top of the page --></p>
      <div class="switch-toggle switch-2 panel radius">
      <form>
        <input id="needs-review" name="filter2" type="radio" checked>
        <label for="needs-review" class="js-needs-review">Needs Review</label>

        <input id="added-to-page" name="filter2" type="radio">
        <label for="added-to-page" class="js-added-to-page">Added to Page</label>

        <a class="button"></a>
      </form>
      </div>
      <div class="products row text-left">
        <div id="product-list">
          <!-- TODO: here should be a list of all Product Collections that resulted from Product Searches that were added above (Also then filtered by non-rejected) -->
        </div>
      </div>
      <!--div class="actions row text-center">
        <a href="#" id="add-to-page" class="button small">Add To Page</a>
        <a href="#" id="remove-from-page" class="button small">Remove From Page</a>
      </div-->
    </div>
    <div class="actions row">
      <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/content">Save &amp; Continue</a>
    </div>
  </div>
</div>
