<div class="content">
  <h4>Add or Remove Products</h4>
  <div class="page-edit products">
    <div class="container row">
      <p class="text-left">Review products that have been imported, as well as prioritize products to appear at top of the page</p>
      <div class="switch-toggle switch-2 panel radius">
      <form>
        <input id="all-items" name="filter2" type="radio" checked>
        <label for="all-items" class="js-all-items">Imported</label>

        <input id="added-to-page" name="filter2" type="radio">
        <label for="added-to-page" class="js-added-to-page">Added to Page</label>

        <a class="button"></a>
      </form>
      </div>
      <div id="product-list" class="products row text-left">
        <!-- here should be a list of all Product Collections (merged) that resulted from imported data sets (Also then excluding the rejected set) -->
      </div>
      <div class="actions row text-center">
        <a href="#" id="add-to-page" class="button small">Add To Page</a>
        <a href="#" id="remove-from-page" class="button small">Remove from Page</a>
      </div>
    </div>
    <div class="actions row">
      <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/content">Save &amp; Continue</a>
    </div>
  </div>
</div>
