<div class="content">
    <h4>Publish Page</h4>
    <div class="page-edit">
        <p>
            The page will be live immediately:
            <a href="http://{{store.public-base-url}}{{page.url}}/">
                {{store.public-base-url}}{{page.url}}
            </a>
        </p>
        <p>
            <span class="label">Note</span> It will overwrite the existing page.
        </p>
        <div class="actions row">
            <a class="publish js-next button small" href="">Publish Page</a>
        </div>
        <div class="row">
            <span class="alert label">Error</span>
            Could not publish page. Please try again later.
        </div>
    </div>
</div>