{{#if result.bucket_name}}
    <iframe id="page-preview" href="http://{{result.bucket_name}}/{{result.s3_path}}" width="100%" height="100%" style="min-height:100%">
    </iframe>
{{else}}
    <div class="content">
        <h4>View Page</h4>
        <div class="page-edit">
            <p>You must first <a class="generate">generate this page</a> to see it.</p>
        </div>
    </div>
{{/if}}