<div class="filter-actions row">
  <form class="switch-toggle switch-4 panel">
    <input id="js-filter-content-status-all" name="filter" type="radio" class="js-filter-content-status" value="" checked>
    <label for="js-filter-content-status-all">All</label>

    <input id="js-filter-content-status-needs-review" name="filter" type="radio" class="js-filter-content-status" value="needs-review">
    <label for="js-filter-content-status-needs-review">Needs Review</label>

    <input id="js-filter-content-status-approved" name="filter" type="radio" class="js-filter-content-status" value="approved">
    <label for="js-filter-content-status-approved">Approved</label>

    <input id="js-filter-content-status-rejected" name="filter" type="radio" class="js-filter-content-status" value="rejected">
    <label for="js-filter-content-status-rejected">Rejected</label>

    <a class="button"></a>
  </form>
</div>

<form class="content-options">
  <fieldset class="content-filter-actions">
    <legend>Filters</legend>
    <div class="filter-content-type">
      <label>Type</label>
      <select id="js-filter-type">
        <option value="">All Content Types</option>
        <option value="image">Images</option>
        <option value="video">Videos</option>
      </select>
    </div>
    <div class="filter-content-source">
      <label>Source</label>
      <select id="js-filter-content-source">
        <option value="">All Sources</option>
        <option value="instagram">Instagram</option>
        <option value="tumblr">Tumblr</option>
        <option value="facebook">Facebook</option>
        <option value="youtube">Youtube</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="filter-content-tags">
      <label>Tags</label>
      <input id="js-filter-tags" type="text" />
    </div>
  </fieldset>
  <fieldset class="content-sort-actions">
    <legend>Sort</legend>
    <div class="filter-sort-order">
      <label>Sort</label>
      <select id="js-filter-sort-order">
        <option value="order" data-direction="descending">Import date (most recent first)</option>
        <option value="order" data-direction="ascending">Import date (most recent last)</option>
        <option value="time-posted" data-direction="descending">Post date (most recent first)</option>
        <option value="time-posted" data-direction="ascending">Post date (most recent last)</option>
      </select>
    </div>
  </fieldset>
</form>
