<form class="content-options">
  <fieldset class="content-filter-actions">
    <legend>Filters</legend>
    <div class="filter-content-type">
      <label>Type</label>
      <select id="js-filter-content-type">
        <option value="">All Content Types</option>
        <option value="image">Images</option>
        <option value="video">Videos</option>
      </select>
    </div>
    <div class="filter-content-source">
      <label>Source</label>
      <select id="js-filter-content-source">
        <option value="">All Sources</option>
        <option value="instagram">Instagram</option>
        <option value="tumblr">Tumblr</option>
        <option value="facebook">Facebook</option>
        <option value="youtube">Youtube</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="filter-content-tags">
      <label>Tags</label>
      <input id="js-filter-content-tags" type="text" />
    </div>
  </fieldset>
  <fieldset class="content-sort-actions">
    <legend>Sort</legend>
    <div class="filter-sort-order">
      <label>Sort</label>
      <select id="js-filter-sort-order">
        <option value="descending">Most Recent First</option>
        <option value="ascending">Least Recent First</option>
      </select>
    </div>
  </fieldset>
</form>