<div class="content">

    <div id="list-controls">
    </div>

    <div class="container row" style="line-height: 22px;">
        <div class="content-view-actions" style="float:left;">
          <a class="js-grid-view">Grid</a> | <a class="js-list-view">List</a>
        </div>
    </div>

    <div class="row">
      <div class="content-list-region"></div>
      <div class="edit-area columns multiEdit large-4" id="selection-edit">
      </div>
    </div>

    <div class="loading row text-center">
      <div id="spinner">
        <div id="spinner_1" class="spinner"></div>
        <div id="spinner_2" class="spinner"></div>
        <div id="spinner_3" class="spinner"></div>
        <div id="spinner_4" class="spinner"></div>
        <div id="spinner_5" class="spinner"></div>
        <div id="spinner_6" class="spinner"></div>
        <div id="spinner_7" class="spinner"></div>
        <div id="spinner_8" class="spinner"></div>
      </div>
    </div>

</div>
