<div class="row">
  <div class="columns large-6 small-6">
    {{size}} items selected
  </div>
  <div class="actions columns large-6 small-6">
    <button class="js-select-all small">Select All</button>
    <button class="js-unselect-all small">Clear Selection</button>
    <button class="js-approve small">Accept</button>
    <button class="js-reject small">Reject</button>
  </div>
</div>
