<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width' name='viewport'>
    <title>Second Funnel - Campaign Manager</title>
    <link href='@routes.Assets.at("stylesheets/normalize.css")' rel='stylesheet'>
    <link href='@routes.Assets.at("stylesheets/app.css")' rel='stylesheet'>
    <link href='@routes.Assets.at("images/favicon.ico")' rel='shortcut icon'>
    <script>
      var JST = {};
      var appRoot = "@routes.Application.root";
    </script>
    <script src='@routes.Assets.at("javascripts/vendor/custom.modernizr.js")'></script>
    <script data-main='@routes.Assets.at("javascripts/config.js")' src='@routes.Assets.at("javascripts/require.js")'></script>
  </head>
  <body name="top">
    <div id='modal'></div>
    <div class='row'>
      <header class='columns large-2 small-12'></header>
      <div class='columns large-10 small-12' id='main'>
        <div class='row hide' id='info-bar'></div>
        <div class='row top-bar' id='title-bar'></div>
        <div class='row' id='container'></div>
      </div>
      <div class='columns'>
      </div>
      <div id='scroll-to-top'>
        <a href="#top">
          <i class="icon-general-enclosed-up-arrow"></i>
        </a>
      </div>
    </div>
  </body>
</html>
