<div class="item list">
  <div class="image-container large-4 columns">
  {{#if video}}
    <div class="image" style="background-image:url({{video-thumbnail}})" />
  {{else}}
    {{#if remote-url}}
      <div class="image" style="background-image:url({{images.large.url}})" />
    {{else}}
      <div class="image" style="background-image:url('http://placehold.it/180x180&text=No Thumbnail')" />
    {{/if}}
  {{/if}}
  </div>
  <div class="edit-area large-8 columns">
  </div>
</div>