<div>
  <label class="inline"><b>Caption</b></label>
  <textarea>{{combined.caption}}</textarea>
</div>
<div>
  <label class="inline"><b>Tagged Products</b></label>
  <span>
    <ul class="js-tagged-products" />
  </span>
</div>
<div>
  <label class="inline"><b>Tagged Pages</b></label>
  <span>
    <ul class="js-tagged-pages" />
  </span>
</div>
<button class="js-approve small success">Approve</button>
<button class="js-reject small alert">Reject</button>
<!--button class="js-prioritize tiny">Prioritize</button-->