<div class="large-1 columns">
  <dl class="tabs pill small">
    <dd class="js-tab-list"><a class="js-list">List</a></dd>
    <dd class="js-tab-grid active"><a class="js-grid">Grid</a></dd>
  </dl>
</div>
<div class="large-5 columns">
&nbsp;
</div>
<div class="large-2 columns">
  <a href="#" class="js-select-all">Select All</a> |
  <a href="#" class="js-unselect-all">Clear Selection</a>
</div>
<div class="large-4 columns" />