<div class="row">
  <div class="columns large-6 small-6">
    {{size}} items selected
  </div>
  <div class="actions columns large-6 small-6">
    <button class="small">Accept</button>
    <button class="small">Reject</button>
  </div>
</div>
