<div class="content">
  <div class="list columns large-12">

    <div id="list-controls">
    </div>

    <div id="list" class="grid-view">
      <!-- list inserted here -->
      {{#empty this}}
      No content meets selected criteria
      {{/empty}}
    </div>
    <div class="edit-area columns large-4" id="selection-edit">
    </div>
  </div>
</div>
