<div class="list columns large-8">
  <div class="row">
    <div class="columns large-2">
      <label class="inline"><b>Criteria</b></label>
    </div>
    <div class="columns large-3">
      <select>
        <option>Most Recent First</option>
        <option>Least Recent First</option>
      </select>
    </div>
    <div class="columns large-3">
      <select>
        <option>All Content Types</option>
        <option>Instagram</option>
        <option>Tumblr</option>
        <option>Facebook</option>
        <option>Youtube</option>
        <option>Other</option>
      </select>
    </div>
    <div class="columns large-3">
      <select>
        <option>All Pages</option>
        {{#each pages}}
        <option>{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="columns large-12">
      <div class="row">
        <span class="columns large-2 inline"><label class="inline"><b>Tags</b></label></span>
        <span class="columns large-10">
          <ul id="js-tag-search">
            <li>Samsung</li>
            <li>Hard-drive</li>
          </ul>
          <!--input type="text" placeholder="Tag"-->
        </span>
      </div>
    </div>
    <div class="columns" />
  </div>
  <i class="icon-general-view-mode"></i>
  <div id="list" class="row">
    <!-- list inserted here --!>
  </div>
  {{#empty this}}
  No content meets selected criteria
  {{/empty}}
</div>
<div class="edit-area columns large-4">

  <div class="row">
    <div class="columns large-12">
      <label class="inline"><b>Caption</b></label>
      <textarea>{{combined.caption}}</textarea>
    </div>
    <div class="columns large-12">
        <label class="inline"><b>Tagged Products</b></label>
        <span class="columns">
          <ul id="js-tag-search">
            <li>Product 1</li>
            <li>Product 2</li>
          </ul>
          <!--input type="text" placeholder="Tag"-->
        </span>
      </div>
    </div>
    <div class="columns large-12">
      <div class="row">
        <label class="inline"><b>Tagged Campaigns</b></label>
        <span class="columns">
          <ul id="js-tag-search">
            <li>Fall</li>
            <li>Christmas</li>
          </ul>
          <!--input type="text" placeholder="Tag"-->
        </span>
      </div>
    </div>
    <div class="columns" />
  </div>

</div>
