{{> "pages_wizard_header"}}
<div class="content">
  <h4>Name</h4>
  <div class="page-edit">
    <div class="container row">
      <div class="row">
        <label class="large-2 columns inline">Page Name</label>
        <span class="large-10 columns">
          <input type="text" value="{{default page.name "(Untitled)"}}" />
        </span>
      </div>
      <div class="row">
        <label class="large-2 columns inline">Page URL</label>
        <span class="large-4 columns">
          <select>
            <!-- TODO: how to populate this list -->
            <option>gap.secondfunnel.com/</option>
          </select>
        </span>
        <span class="large-6 columns">
          <input type="text" value="{{page.url}}" />
        </span>
      </div>
    </div>
    <div class="actions row">
      <a class="js-next button small" href="/{{store-id}}/pages/{{page.id}}/layout">Save &amp; Continue</a>
    </div>
  </div>
</div>