<div class="list">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th class="text-center">Created</th>
      <th></th>
      <th></th>
      <th></th>
      <th width=100></th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
      <tr>
        <td><a href="/{{store-id}}/pages/{{id}}">{{name}}</a></td>
        <td>{{formatDate created '%d/%m/%Y'}}</td>
        <td><a href="#">Edit<a/></td>
        <td><a href="#">View</a></td>
        <td><a href="#">Analytics</a></td>
        <td><a href="#">Delete</a></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
