<div class='columns small-8 large-10'>
  <h4>{{capitalizeEach title}}</h4>
</div>

<div class='columns small-4 large-2'>
  <ul>
    <li class='right'>
      <a href='/signout'>
        Logout
      </a>
    </li>
  </ul>
</div>
