<div id="main--notfound">
  <div class="container">
    <h1>We're sorry... <span>:(</span></h1>
    <p>The page you are looking for cannot be found.</p>
    <p>
      <a href="/">Return to Homepage</a>
    </p>
  </div>
</div>