{{#empty products}}
  <p>
    No products have been found.
  </p>
{{else}}
  <p>
    These products will appear on the page. <span class="highlight">Highlighted</span> products are prioritized to appear at the top of the page.<br />
    Please remove any Products that should not be in the page.
  </p>
{{/empty}}