<div class="container">
  <div id="login">
    <div class="header logo">
      <img src="/images/logo.png" />
    </div>
    <h2 class="title">Login</h2>
    <form action="/login" class="login" method="post">
      <input type="text" id="login-email" name="username" placeholder="Username or Email" >
      <input type="password" id="login-password" name="password" placeholder="Password">
      <a href="/126/pages" class="small button right">Log In</a>
    </form>
  </div>
</div>