<div id="main--notfound">
    <div class="container">
        <h1>We're sorry... <span>:(</span></h1>

        <p>This feature is not completed.</p>

        <p>
            <a href="/">Return to Homepage</a>
        </p>
    </div>
</div>